@import "adaptive";

$blue: #248fea;


.about {
  @include adaptive-value('margin-top', 50, 30, 1);
  @include adaptive-value('margin-bottom', 50, 30, 1);
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  &__imgs {
    position: relative;
    min-height: 500px;
    max-width: 700px;
  }
  &__img {
    position: absolute;
    border-radius: 15px;
    &-1 {
      left: 0;
      top: 0;
    }
    &-2 {
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
  &__card {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 2, 5, 0.2);
    z-index: 3;
    &-img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
    &-name {
      @include adaptive-value('font-size', 24, 18, 1);
      font-size: 24px;
      font-weight: bold;
    }
    &-prof {
      @include adaptive-value('font-size', 18, 14, 1);
      color: lighten(#000, 70%);
    }
    &-btn {
      border: none;
      background-color: $blue;
      color: #fff;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: help;
      transition: all 0.5s linear;
      &:hover {
        background-color: #14467b;
        color: #ffffff;
      }
    }
  }
  &__suptitle {
    @include adaptive-value('font-size', 20, 16, 1);
    font-weight: bold;
    color: $blue;
  }
  &__title {
    @include adaptive-value('font-size', 32, 28, 1);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  &__subtitle {
    @include adaptive-value('font-size', 20, 16, 1);
    color: lighten(#000, 70%);
  }
  &__points {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }
  &__nakshtalt {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__point {
    display: flex;
    align-items: center;
    gap: 5px;
    @include adaptive-value('font-size', 18, 14, 1);
    & img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
  &__video {
    & img {
      height: 200px;
      width: 300px;
      border-radius: 15px;
    }
  }
  &__expert {
    display: flex;
    align-items: center;
    gap: 10px;
    @include adaptive-value('font-size', 20, 18, 1);

    & img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 991.98px) {
  .about {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__imgs {
      @include adaptive-value('min-height', 500, 300, 1);
    }
    &__img {
      @include adaptive-value('width', 450, 200, 1);
    }
  }
}

@media (max-width: 767px) {
  .about {
    &__points {
      flex-direction: column;
      gap: 20px;
    }
    &__video {
      & img {
      }
    }
  }
}