.footer {
  &__inner {
  }
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  min-height: 10vh;
  box-shadow: 0 -8px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #077C8FFF;
}