@import "adaptive";

$blue: #248fea;

.header {
    position: fixed;
    width: 100%;
    z-index: 9;
    background: #ffffff;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 100%;
        background-color: #fff;
        width: 100%;
        margin-top: 20px;
        padding: 0 30px;
        a.login-button {
            position: absolute;
            right: 30px;

            width: min-content;
        }
    }

    &__left {
        display: flex;
        gap: 50px;
    }

    .container {
        position: relative;
        display: flex;
        background-color: white;
        padding: 0;
        max-width: 1400px;

        .nav {
            display: flex;
            align-items: center;

            &__inner {
                list-style: none;
                margin: 0;
                padding: 0;
            }
            &__list {
                display: flex;
                gap: 50px;
            }
            &__item {
                position: relative;
                font-size: 24px;
                font-weight: bold;
                color: $blue;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: $blue;
                    transform: scaleX(0);
                    transition: transform 0.3s linear;
                    transform-origin: bottom right;
                }
                &:hover {
                    &:after {
                        transform: scale(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }
    }

    .logo-img {
        width: 100px;
        height: auto;
        margin: 10px;
        z-index: 10;
    }
}

.burger {
    display: none;
    position: relative;
    height: 25px;
    align-items: center;
    span {
        display: block;
        width: 30px;
        height: 5px;
        background-color: $blue;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 40px;
        height: 5px;
        background-color: $blue;
        transition: all 0.2s linear;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 20px;
        height: 5px;
        background-color: $blue;
        transition: all 0.2s linear;
    }
    &._active {
        span {
            display: none;
        }
        &::before {
            transform: rotate(45deg);
            top: 50%;
        }
        &::after {
            transform: rotate(-45deg);
            top: 50%;
            width: 40px;
        }
    }
}

@media (max-width: 767px) {
    .burger {
        display: flex;
        margin-top: 30px;
    }
    .header {
        .container {
            .header__inner {
                padding: 0 10px;
            }
            .nav {
                position: fixed;
                top: 58%;
                transform: translateY(-130%);
                width: 110vw;
                height: 130vh;
                background-color: #fff;
                margin-left: -30px;
                transition: all 0.2s linear;

                &__list {
                    flex-direction: column;
                    padding-left: 40px;
                }

                &__item {
                    font-size: 32px;
                }
            }
        }
        &._active {
            .container {
                .nav {
                    transform: translateY(-50%);
                }
            }
        }
        .login-button {
            top: 50%;
            right: 90px;
            padding: 10px 15px;
        }
        .logo-img {
            top: 20px;
            position: absolute;
            margin: 0;
        }
    }
}
