.header {
    position: relative;
    z-index: 1;

    &__inner {
        display: flex;
        min-width: 100%;
        margin-top: 20px;
        box-shadow: 0 8px 4px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        width: 100%;
    }

    .login-button {
        background-color: #1677fe;
        color: #ffffff;
        font-size: large;
        font-weight: bolder;
        margin: 15px;
        margin-left: auto;
        padding: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        &:hover {
            background-color: #136ae3;
        }
    }

    .container {
        display: flex;
        background-color: white;
        padding: 0;

        .nav {
            display: flex;
            align-items: center;

            &__inner {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline;
                    margin: 0 1rem;
                    font-size: medium;

                    a {
                        color: #1677fe;
                        font-size: large;
                        font-weight: bold;
                    }

                    a:hover {
                        color: #105fc2;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .logo-img {
        width: 70px;
        height: auto;
        margin: 10px;
    }

    @media only screen and (max-width: 410px) {
        .header__inner {
            flex-direction: column;
        }

        .login-button {
            margin: 15px;
        }

        .nav {
            justify-content: center;
            margin-top: 15px;
        }
        .logo-img{
            margin: 0 auto;
            display: block;
        }
    }
}
