body {
    font-family: 'Roboto', sans-serif;
}

.main {
    padding-top: 80px;
}

.content {
    &__inner {}
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efeaea;
    color: black;
    padding: 3rem;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        padding: 1rem;
    }

    @media only screen and (max-width: 300px) {
        padding: 0.5rem;
    }


    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
        border-radius: 30px;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.24);
        border: 10px solid #1677fe;
    }

    .column {
        text-align: center;
        flex: 50%;

        &__suptitle {
            font-size: 24px;
            font-weight: 500;
            color: #1677FEFF;
        }
        &__title {
            margin: 20px 0 10px 0;
            font-size: 32px;
            font-weight: 700;
            text-transform: uppercase;
        }
        &__subtitle {
            font-size: 20px;
            font-weight: 500;
            color: #1677FEFF;
        }
        &__button {
            font-size: 24px;
            font-weight: bolder;
            text-transform: uppercase;
            color: #fff;
            background: #1677FEFF;
            border: 2px solid #1677FEFF;
            border-radius: 15px;
            padding: 20px 30px;
            margin-top: 30px;
            transition: all 0.3s linear;
            cursor: pointer;
            &:hover {
                background: transparent;
                color: #1677fe;
            }
        }

        @media only screen and (max-width: 600px) {
            flex: 100%;
            padding-top: 30px;
        }
    }
}
