/* Separator.scss */
.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: #1677fe;
  color: #ffffff;
  padding: 3rem;
  position: relative;
  z-index: 1; /* Ensure it's below the Promo */

  .separator-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%; /* Adjust this as needed */
    max-width: 1200px; /* Add max-width for responsiveness */
  }

  .separator-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add spacing between items */

    img {
      width: 50px; /* Adjust icon size */
      height: 50px; /* Adjust icon size */
      margin-right: 10px; /* Add spacing between icon and text */
    }

    p {
      /* Add text styling if needed */
    }
  }

  @media only screen and (max-width: 600px) {
    .separator-content {
      flex-direction: column;
      align-items: center;

      .separator-item {
        margin-bottom: 10px; /* Adjust spacing between items in mobile view */
      }
    }
  }
}
