.sidebar {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: $color-blue-extra-light;
    box-shadow: 5px 0 3px -3px rgba(0, 0, 0, 0.09);

    &__inner {
        padding: 3rem;
    }

    .logo {
        width: 10rem;
    }
    .icon-grid::before {
        content: "\e900";
    }
    .icon-book-open::before {
        content: "\e00b";
    }
    .icon-calendar::before {
        content: "\e00d";
    }
}
