.header {
    &__inner {
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        margin: 24px 0;
    }

    .container {
        display: flex;

        .nav {
            display: flex;
            align-items: center;

            &__inner li {
                display: inline;
                margin: 0 2rem;
                font-size: medium;

                a {
                    color: white;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}