.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__inner {
        padding: 3rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        // gap: 2rem;
    }

    &__title {
        font-size: 2rem;
        line-height: 120%;
        color: $color-blue-dark;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
