/* COLORS */
$color-white: #ffffff;
$color-black: #000000;
$color-selection-text: $color-black;
$color-selection-bg: $color-white;

/* SIZES */
$container-desktop: 1920px;
$container-tablet: 1440px;
$container-mobile: 768px;
$container-mobile-xs: 360px;

/* BREAKPOINTS */
$bp-xl: 2039px;
$bp-l: 1919px;
$bp-m: 1439px;
$bp-s: 767px;

/* FONTS */
$font-primary: "Favorit", sans-serif;
$font-secondary: "Grato", sans-serif;
