/* COLORS */
$color-white: #ffffff;
$color-black: #000000;
$color-selection-text: $color-black;
$color-selection-bg: $color-white;


/* FONTS */
$font-primary: "Poppins", sans-serif;
$font-secondary: "Grato", sans-serif;
