.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 1px solid transparent;

    width: 100%;

    font-family: inherit;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;

    border-radius: 0.25rem;

    transition: all 0.5s ease;

    cursor: pointer;
    user-select: none;
}

.btn-primary {
    padding: 1.4rem 2.8rem;

    color: $color-white;
    background-color: $color-primary;
    border-radius: 5px;

    font-size: 1.6rem;
    font-weight: 400;
    font-family: $font-roboto;

    &:enabled:hover {
        box-shadow: 0 50px $color-white inset;
        color: $color-black;
    }
    &:enabled:active {
        color: $color-black;
        background-color: $color-white;
        border-color: $color-black;
    }
}

.btn-burger {
    width: max-content;
    .burger-box {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;

        width: 4rem;
        height: 4rem;
        border-radius: 62% 38% 46% 54% / 60% 63% 37% 40%;
        background-color: $color-primary;

        transition: all 0.3s ease-out;
        will-change: transform;
    }
    .line {
        display: block;
        height: 3px;
        width: 60%;
        border-radius: 10px;
        background: $color-white;
    }

    .burger-box:hover {
        box-shadow: 0px 8px 12px -7px rgba(66, 68, 90, 1);
    }
    .burger-box:active {
        box-shadow: 0px 8px 12px -11px rgba(66, 68, 90, 1);
    }
}
